/* common style  */ 
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
}  
body{ 
    background-color: #E5E5E5;
} 

:root{ 
    --pink:#ff0256;
} 
.hide{ 
    display: none;
}
/*------------------------------
header section style 
-------------------------- */ 
.navbar{ 
    background-color:#ff0256; 
    color: #ffff; 
    display: flex; 
    justify-content: space-between; 
    padding: 5px 289px;
}  
.logo{ 
    display: flex; 
    align-items: center;  
    
}
.logo-sign{ 
    font-size: 48px; 
    padding-right: 5px;
}
.user-pic{ 
    height: 51px; 
    width: 51px;
} 
.manu ul{ 
    display: flex;  
    list-style: none; 
    align-items: center; 
    justify-content: space-evenly;
} 
.manu ul li{
   padding: 0px 10px;
} 

/*---------
 header responsive section 
 ------------------------*/  
 /* for phone  */
 @media screen and (max-width:360px) {
    .navbar{ 
        background-color: #562EFF;
        color: #ffff; 
        display: block; 
        padding: 16px 11px;
    }
 } 


 /* for tab (ipad) */ 
 @media screen and (min-width:366px) and (max-width:768px) {
    .navbar{ 
        padding: 5px 25px;
    }
 } 

 /* ------------
 section one style
 -------------------- */  
 .top-palyer{ 
    margin: 36px 285px; 
    padding: 33px; 
    background-color: #fff; 
    border-radius: 10px;
 } 
 .top-palyer h1{ 
    color: var(--pink); 
    margin-bottom: 40px;
 }
 .players{ 
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around; 
    grid-row-gap: 40px;
 }
 .profile-one img{ 
    height: 56px; 
    width: 56px;
    margin-right: 16px;
 } 
 .profile-one{ 
    display: flex; 
    align-items: center; 
    font-weight: 500; 
    
 } 
 .line{ 
    margin: 40px 0px ;
 } 
.blogs{ 
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
} 
.blog{ 
    display: flex; 
    margin: 20px 0;
  
}
 .blog img{ 
    height: 117px; 
    width: 177px; 
    margin-right: 10px;
 } 
 .blog h2{ 
    font-size: 15px;
 } 
 .blog a{ 
    text-decoration: none;
 }   

 /*----------------================
  section one responsive style
  -----------=========================== */
  /* for phone  */ 
  @media screen and (max-width:360px){
    .top-palyer{
        margin: 0px; 
        padding: 20px; 
    } 
    .players{ 
        grid-template-columns: repeat(1,1fr);
    } 
    .blogs{ 
        grid-template-columns: repeat(1,1fr);
    }
  }

 /* -----------
 section two style 
 ----------------- */ 
 .latest-courses{ 
    margin: 36px 285px; 
    padding: 33px; 
    background-color: #fff; 
    border-radius: 10px; 
    height: 750px;

 }  
 .courses{ 
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    grid-row-gap: 20px;
 }
 .latest-courses h1{ 
  margin-bottom: 20px; 
  color: var(--pink);
 }
.course-header img{ 
    height: 104px; 
    width:100% ;
} 
.course-title{  
    font-size: 15px;
}   
.course-header p{  
    margin: 20px 0px;
    color: red;
} 
.rate{ 
    display: flex; 
    align-items: center;
}
.fa-star { 
    color: #FFC014; 
    font-size: 13px;
} 
.fa-star.null{
    color: gray;
}
.length{ 
    height: 26px;
    width: 69px;
    background-color: #e6b0a2;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 12px;
}  
.course{ 
    height: 290px;
    width: 96%;
    background-color: rgb(255 255 255);
    padding: 18px 14px;
    /* filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05)); */
    box-shadow: 0px 0px 20px 0px #e9dbdb;
    border-radius: 10px; 
}
.course-footer{ 
    display: flex; 
    justify-content: space-between; 
    margin: 20px 0px;
} 

/* ---------------
section two responsive 
-------------------------- */
/* for phone  */ 
@media screen and (max-width:360px){ 
    .latest-courses{ 
        margin: 10px;
        padding: 40px 40px;
        height: 2100px;
    }
        

    .courses{ 
        grid-template-columns: repeat(1,1fr);
    }
    
}